<div class="container center">
    <div class="row">
      <div class="col-md-2 border blocos rounded" *ngFor="let product of products">
          <div *ngIf="product.tipo == 'tv'">
            <img src="../assets/img/tv.svg" class="media-icons"> {{product.nome}}
          </div>
          <div *ngIf="product.tipo == 'internet'">
              <img src="../assets/img/internet.svg" class="media-icons"> {{product.nome}}
          </div>
          <div *ngIf="product.tipo == 'fixo'">
              <img src="../assets/img/fixo.svg" class="media-icons"> {{product.nome}}
          </div>
          <div *ngIf="product.tipo == 'celular'">
              <img src="../assets/img/celular.svg" class="media-icons"> {{product.nome}}
          </div>
          <p class="text-small">{{product.descricao}}</p>
          <ul class="vertical-list crop" *ngFor="let canal of product.listaCanais">
            <li><img src={{canal.imagem}} alt={{canal.nome}} /></li>
          </ul>
          <div class="space"></div>
          <p class="text-small">De: {{product.precoDe | currency}}</p>
        <p class="badge badge-secondary">{{product.tipo}} {{product.id}}</p>
      </div>
    </div>
</div>