.blocos {
    padding: 10px;
    margin: 10px;
    min-height: 250px;
}

.vertical-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-table;
}

.crop {
    height: 30px;
    width: 60px;
    overflow: hidden;
}

.crop img {
    height: auto;
    width: 50px;
}

.text-small {
    font-size: 12px;
}

.media-icons {
    height: 15px;
}

.space {
    margin-top: 50px;
}