<div class="container center table-responsive">
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th>Canal 526</th>
            <th>Canal 426</th>
            <th>Canal 437</th>
            <th>Canal 465</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let program of programs; index as i; trackBy: trackProgramId">
            <td>{{17 + i}}:00</td>
            <td>{{program.titulo}}</td>
            <td>{{program.id_programa}}</td>
          </tr>
        </tbody>
    </table>
</div>
