<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 class="titulo">{{title}}</h1>
</div>
<nav>
  <a routerLink="/products">Produtos</a>
  <a routerLink="/programas">Programas</a>
</nav>
<router-outlet></router-outlet>
<!--<div><app-products></app-products></div>-->